$primaryColor : #008894;
$secondaryColor : #000000;


body{
    overflow-x: hidden;
}

.nav-color{
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-container{
    width: 80%;
    margin: 0 auto;
}

.toggle-bg{
    background-color: $primaryColor;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(./img/bar.png);
}

.btn-primarys{
    background-color: $primaryColor;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: $secondaryColor;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $primaryColor;
}

.leftbanner-container{
    width: 80%;
    margin: 15% auto;
}

.banner-para{
    color: #484444;
}

.logo-fluid{
    max-width: 100%;
    max-height: 80px;
}

.banner-img{
    max-height: 585px;
}

.mar-5 {
    margin: 5% 0;
}

.btn-banner{
    border-color: $primaryColor;
    background-color: #fff;
    color: $primaryColor;
    width: 200px;
    border-radius: 5px solid $primaryColor;
}

.about-container{
    background-color: #f8f9fb;
    padding: 5%;
}

.about-card {
    background-color: #f2f2f3;
    height: 200px;
}

.about-card-secondary{
    height: 200px;
    background-color: #b5d9dd;
}

.about-fluid{
    max-width: 100%;
    max-height: 40%;
    margin: 5% 33%;
}

.card-container{
    width: 70%;
    margin: 5% auto 0;
}

.about-card-img {
    height: 40%;
    margin: 30% 25%;
}

.about-card-para{
    padding: 15% 0;
}

.course-container{
    width: 40%;
    margin: 5% auto;
}

.course-para{
    font-size: 16px;
    line-height: 25px;
    color: $secondaryColor;
}

.course-heading{
color: #028a96;
font-size: 42px;
line-height: 50px;
margin-bottom: 5%;
}

.topic-container{
background-color: #b5d9dd;
width: 60%;
border-radius: 22px;
margin: 0 auto;
}

.topic-heading {
    font-size: 32px;
    line-height: 45px;
    color: #484444;

}

.topic-list-container{
    margin: 5% auto;
    width: 60%;
}

.topic-innercontainer{
    padding: 5% 0 1%;
}

.topic-list > li {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

.learn-container{
    width: 100%;
    margin: 5% 0;
}

.learn-fluid{
    width: 100%;
    max-height: 700px;
    margin-left: -50px;
}

.learn-heading{
    font-size: 42px;
    line-height: 45px;
    text-align: left;
    color: $secondaryColor;
}

.learn-hrline{
    width: 35%;
    margin: 0;
    height: 6px;
    background-color: #028a96;
}

.learn-listbox{
width: 80%;
margin: 5% 0;
}

.learn-list{
font-size: 20px;
line-height: 30px;
color: $secondaryColor;
margin: 5% 0;
margin-left: -20px;
}


.hr-line{
    width: 30%;
    height: 6px;
    background-color: #ff6400;
    margin: 3% 0;
}

.purpose-para{
font-size: 20px;
line-height: 30px;
text-align: left;
}

.purpose-ul {
    margin-left: -20px;
}

.purpose-li {
 text-align: left;
font-size: 20px;
line-height: 25px;
color:$secondaryColor;
margin: 5% 0;
}

.purpose-container{
    margin: 5% auto;

}
.purpose-fluid{
    max-height: 500px;
}

.footer-container{
background-color: #018894;
max-width: 100%;
padding: 5%;
}

.footer-head{
font-size: 42px;
line-height: 52px;
color: #fff;
}

.footer-para{

    font-size: 18px;
    line-height: 30px;
    color: #fff;
    max-width: 530px;
    margin: 0 auto;
}

.footer-input{
    width: 25%;
    margin: 0 auto;
    padding: 2% 0;
}

.footer-btn{
    border-radius: 25px;
}



@media (min-width: 991px) {
.ml-10 {
    margin: 0 10%;
}

.navbar-nav .nav-link {
    margin: 0 30px;
}
}

@media (max-width: 1025px) {
    .nav-container{
        width: 100%;
    }

    .course-container{
        width: 90%;
        margin: 0 auto;
        margin: 5% auto;
    }

    .learn-fluid{
        margin-left: 0;

    }

    .learn-listbox{
        margin: 0;

    }

    .learn-list{
        margin-left: 0;
    }

    .learn-hrline{
        width: 21%;
    }

    .ml-30{
        margin-left: 30px;
        margin-top: 30px;
    }

    .purpose-fluid{
        max-width: 100%;
        height: auto;
    }

    .footer-input{
        width: 50%;
    }

}

@media (max-width: 834px) {
    .about-fluid{
        margin: 5% 25%;
    }
    .card-container{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .about-fluid{
        margin: 5% 35%;
    }
    .learn-hrline{
        width: 65%;
    }

    .topic-container{
        width: 90%;
    }

    .footer-input{
        width: 100%;
    }
}